<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto"
  android:versionCode="1"
  android:versionName="1.0">


  <application
    android:allowBackup="true"
    android:hasCode="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher">

    <activity
      android:name="android.app.NativeActivity"
      android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
      android:excludeFromRecents="false"
      android:launchMode="singleTask"
      android:resizeableActivity="false"
      android:screenOrientation="landscape"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      android:exported="true"
      tools:ignore="NonResizeableActivity">
      <!-- Tell NativeActivity the name of the .so -->
      <meta-data
        android:name="android.app.lib_name"
        android:value="native" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
